body {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC), pink;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #000000;
}

#navbar {   /* Navigation bar at the top of your page */
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
}

nav li {    /* Affects all of the li tags within the nav tag */
    display: inline;
    margin-right: 20px;
    padding: 10px;
}

h1 {
    font-size: 40px;
}

h6 {
    font-size: 10px;
    font-style: italic;
}

div#idk-radio {
    font-size: 20px;
}

div#basketball p {
    font-size: 20px;
}

#basketball-checkboxes {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 10px;
    margin: auto;
    width: 420px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1), 0 12px 12px rgba(0, 0, 0, 0.1);
}

/* Henri styling starts here!*/
#Henri {
    height: 400px;
    width: 350px;
    position: absolute;
    margin: auto;
    z-index: -1;
}

.cat {
    position: relative;
    top: 150px;
    left: 50px;
}

.face {
    background-color: #5a5a5f;
    height: 90px;
    width: 110px;
    border-radius: 30px;
}

.left-ear, .right-ear {
    width: 0;
    height: 0;
    border-bottom: 50px solid #5a5a5f;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    z-index: -1;
}

.left-ear {
    bottom: 35px;
    right: 10px;
    transform: rotate(-30deg);
}

.right-ear {
    bottom: 85px;
    left: 80px;
    transform: rotate(30deg);
}

.left-inner {
    width: 0;
    height: 0;
    border-bottom: 50px solid #b68079;
    border-left: 25px solid transparent;
    right: 25px;
    position: relative;
}

.right-inner {
    width: 0;
    height: 0;
    border-bottom: 50px solid #b68079;
    border-right: 25px solid transparent;
    position: relative;
}

.left-eye, .right-eye {
    background-color: #a2c73d;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
}

.left-eye {
    bottom: 75px;
    left: 15px;
}

.right-eye {
    bottom: 100px;
    left: 70px;
}

.eyeball {
    background-color: #3a332b;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 3px;
}

.sparkle {
    background-color: #FFF;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative;
    bottom: 12px;
    left: 3.25px;
}

.nose {
    height: 0;
    width: 0;
    border-top: 8px solid #1f1f1f;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    bottom: 95px;
    left: 50px;
}

.left-mouth, .right-mouth {
    background-color: #1f1f1f;
    height: 8px;
    width: 1px;
    position: relative;
}

.left-mouth {
    transform: rotate(45deg);
    right: 3.3px;
    bottom: 2px;
}

.right-mouth {
    transform: rotate(-45deg);
    bottom: 10px;
    left: 2.4px;
}

.body {
    background-color: #5a5a5f;
    height: 100px;
    width: 110px;
    position: relative;
    left: 30px;
    bottom: 5px;
    border-radius: 0px 65px 0px 0px;
}

.left-paw, .right-paw, .back-left-paw, .back-right-paw {
    background-color: #5a5a5f;
    height: 10px;
    width: 22px;
    position: relative;
    border-radius: 0px 0px 10px 10px;
}

.left-paw {
    top: 100px;
}

.right-paw {
    top: 83px;
    left: 30px;
}

.left-poly, .right-poly {
    background-color: #5a5a5f;
    height: 7px;
    width: 7px;
    position: relative;
    border-radius: 50%;
}

.left-poly {
    top: 95px;
    left: 14px;
    transform: rotate(40deg);
    border-radius: 50%;
}

.right-poly {
    top: 78px;
    left: 31px;
    transform: rotate(-40deg);
}

.back-left-paw {
    top: 66px;
    left: 60px;
}

.back-right-paw {
    top: 56px;
    left: 88px;
}

.tail {
    background-color: #5a5a5f;
    width: 100px;
    height: 17px;
    position: relative;
    top: 29px;
    left: 100px;
    border-radius: 0px 20px 20px 0px;
}

.shadow {
    background-color: rgba(5, 5, 5, 0.06);
    height: 25px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 7px;
    left: 9px;
    z-index: -1;
}
/* Henri styling ends here */