body {
    background: linear-gradient(90deg, #CCFFFF, #FFCCCC), pink;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #000000;
}

#navbar {   /* Navigation bar at the top of your page */
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

nav li {    /* Affects all of the li tags within the nav tag */
    display: inline;
    margin-right: 20px;
    padding: 10px;
}

h1 {
    font-size: 40px;
}

div#idk-radio {
    font-size: 20px;
}